<!doctype html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz"
      layout:decorate="~{manager/layout/template}">
<body>

<div layout:fragment="content">


  <form th:action="@{/admin/impostazioni/numeratori/save}"
        method="post"
        id="numeratore"
        class="form-bordered needs-validation"
        novalidate>

    <input type="hidden" name="id" th:value="${numeratore.id}" />

    <header class="page-header mb-2">
      <div class="title-container mb-3">
        <h2 style="border-left: 5px solid #0088cc; padding-left: 15px;"
            th:text="${numeratore.id != null ? 'Dettaglio Numeratore ID ' + numeratore.id : 'Nuovo Numeratore'}">
          Dettaglio Numeratore
        </h2>
      </div>

      <div class="right-wrapper text-right" style="margin-left: auto; margin-right: 10%;">
        <a th:href="@{/admin/impostazioni/numeratori/new}"
           class="mb-1 mt-1 mr-1 btn btn-sm btn-success">
          <i class="fas fa-plus-circle"></i> Nuovo
        </a>

        <a th:if="${numeratore.id != null}"
           th:href="@{/admin/impostazioni/numeratori/{id}/duplica(id=${numeratore.id})}"
           class="mb-1 mt-1 mr-1 btn btn-sm btn-info">
          <i class="fas fa-clone"></i> Duplica
        </a>

        <button type="button"
                class="mb-1 mt-1 mr-1 btn btn-sm btn-primary"
                onclick="InviaForm('numeratore');">
          <i class="fas fa-save"></i> Salva
        </button>

        <a th:href="@{/admin/impostazioni/numeratori}"
           class="mb-1 mt-1 mr-1 btn btn-sm btn-danger">
          <i class="fas fa-times-circle"></i> Esci
        </a>
      </div>
    </header>

    <div class="row" style="margin-top: -25px">
      <div class="col-lg-12">
        <div class="card shadow-sm border-0" style="border-radius: 15px; background: #fff; padding: 20px;">

          <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item storeTab" role="presentation" id="1">
              <a class="nav-link active" href="#tab_01" data-bs-toggle="tab">Definizione</a>
            </li>
            <li class="nav-item storeTab" id="2">
              <a class="nav-link" href="#tab_02" data-bs-toggle="tab">Permessi 1</a>
            </li>
          </ul>

          <div class="tab-content">

            <!-- TAB 01 -->
            <div id="tab_01" class="tab-pane active">
              <fieldset class="border p-3 mb-3">
                <legend class="float-none w-auto px-2" th:text="|Dettaglio ID ${numeratore.id}|">Dettaglio ID</legend>

                <div class="row form-group">
                  <div class="col-lg-12">
                    <label for="l1" class="form-label">Descrizione</label>
                    <input type="text" name="l1" id="l1" th:value="${numeratore.l1}" class="form-control obbligatorio" required />
                  </div>

                  <div class="col-lg-6">
                    <label for="anno" class="col-form-label">Anno gestione</label>
                    <input type="text" name="anno" id="anno" th:value="${numeratore.anno}" class="form-control obbligatorio" required />
                  </div>

                  <div class="col-lg-6">
                    <label for="numero" class="col-form-label">Numero iniziale/Ultimo numero inserito</label>
                    <input type="text" name="numero" id="numero" th:value="${numeratore.numero}" class="form-control obbligatorio" required />
                  </div>
                </div>
              </fieldset>
            </div>

            <!-- TAB 02 -->
            <div id="tab_02" class="tab-pane">
              <fieldset class="border p-3 mb-4">
                <legend class="float-none w-auto px-2">Altri dati</legend>

                <!-- L2 e L3 -->
                <div class="row form-group">
                  <div class="col-lg-6">
                    <label for="l2" class="form-label">l2</label>
                    <select name="l2" id="l2" class="form-control">
                      <option value=""  th:selected="${numeratore.l2 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l2 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l2 == 1}">Attivo</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="l3" class="form-label">l3</label>
                    <select name="l3" id="l3" class="form-control">
                      <option value=""  th:selected="${numeratore.l3 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l3 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l3 == 1}">Attivo</option>
                    </select>
                  </div>
                </div>

                <!-- L4 e L5 -->
                <div class="row form-group">
                  <div class="col-lg-6">
                    <label for="l4" class="col-form-label">l4</label>
                    <select name="l4" id="l4" class="form-control">
                      <option value=""  th:selected="${numeratore.l4 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l4 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l4 == 1}">Attivo</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="l5" class="col-form-label">l5</label>
                    <select name="l5" id="l5" class="form-control">
                      <option value=""  th:selected="${numeratore.l5 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l5 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l5 == 1}">Attivo</option>
                    </select>
                  </div>
                </div>

                <!-- L6 e L7 -->
                <div class="row form-group">
                  <div class="col-lg-6">
                    <label for="l6" class="col-form-label">l6</label>
                    <select name="l6" id="l6" class="form-control">
                      <option value=""  th:selected="${numeratore.l6 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l6 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l6 == 1}">Attivo</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="l7" class="col-form-label">l7</label>
                    <select name="l7" id="l7" class="form-control">
                      <option value=""  th:selected="${numeratore.l7 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l7 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l7 == 1}">Attivo</option>
                    </select>
                  </div>
                </div>

                <!-- L8 e L9 -->
                <div class="row form-group">
                  <div class="col-lg-6">
                    <label for="l8" class="col-form-label">l8</label>
                    <select name="l8" id="l8" class="form-control">
                      <option value=""  th:selected="${numeratore.l8 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l8 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l8 == 1}">Attivo</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="l9" class="col-form-label">l9</label>
                    <select name="l9" id="l9" class="form-control">
                      <option value=""  th:selected="${numeratore.l9 == null}">Indefinito</option>
                      <option value="0" th:selected="${numeratore.l9 == 0}">Disattivo</option>
                      <option value="1" th:selected="${numeratore.l9 == 1}">Attivo</option>
                    </select>
                  </div>
                </div>

                <!-- L10 -->
                <div class="row form-group">
                  <div class="col-lg-6">
                    <label for="l10" class="col-form-label">l10</label>
                    <select name="l10" id="l10" class="form-control">
                      <option value=""   th:selected="${numeratore.l10 == null}">Indefinito</option>
                      <option value="0"  th:selected="${numeratore.l10 == 0}">Disattivo</option>
                      <option value="1"  th:selected="${numeratore.l10 == 1}">Attivo</option>
                    </select>
                  </div>
                </div>

              </fieldset>
            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

  <script>
    function InviaForm() {
      var form = $("#numeratore");
      if (form[0].checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        new PNotify({
          title: 'Attenzione!',
          text: 'Alcuni campi obbligatori del modulo richiedono un tuo intervento!',
          type: 'error'
        });
      } else {
        form.addClass('was-validated');
        document.getElementById("numeratore").submit();
      }
      form.addClass('was-validated');
    }
  </script>

</div>
</body>
</html>
