<!doctype html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manager/layout/template}">
<body>
<div layout:fragment="content">

    <form th:action="@{/admin/amministratori/save}"
          method="post"
          id="amministratoriUtente"
          class="form-bordered">

        <div class="msg_box msg_error" id="form_a_errors" style="display:none"></div>

        <header class="page-header mb-2">
            <div class="title-container mb-3">
                <h2 style="border-left: 5px solid #0088cc; padding-left: 15px;">Dettaglio amministratori</h2>
            </div>
            <div class="right-wrapper text-right" style="margin-left: auto; margin-right: 10%;">
                <a th:href="@{/admin/amministratori/new}" class="mb-1 mt-1 mr-1 btn btn-sm btn-success">
                    <i class="fas fa-plus-circle"></i> <span class="btn-text">Nuova</span>
                </a>
                <a th:if="${amministratoriUtente != null and amministratoriUtente.id != null}"
                   th:href="@{|/admin/amministratori/${amministratoriUtente.id}/duplica|}"
                   onclick="return ConfermaOperazione(this.href, 'duplicare questa amministratori')"
                   class="mb-1 mt-1 mr-1 btn btn-sm btn-info">
                    <i class="fas fa-clone"></i> <span class="btn-text">Duplica</span>
                </a>
                <button type="button" class="mb-1 mt-1 mr-1 btn btn-sm btn-primary"
                        onclick="InviaForm('amministratoriUtente');">
                    <i class="fas fa-save"></i> <span class="btn-text">Salva</span>
                </button>
                <a th:href="@{/admin/amministratori}" onclick="CloseHsReloadBase();"
                   class="mb-1 mt-1 mr-1 btn btn-sm btn-danger">
                    <i class="fas fa-times-circle"></i> <span class="btn-text">Esci</span>
                </a>
            </div>
        </header>

        <div class="row" style="margin-top: -25px">
            <div class="col-lg-12">
                <div class="card shadow-sm border-0" style="border-radius: 15px; background: #fff; padding: 20px;">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link active" href="#tab_01" data-bs-toggle="tab">Dati anagrafici</a>
                        </li>
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link" href="#tab_02" data-bs-toggle="tab">Dati accesso</a>
                        </li>
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link" href="#tab_03" data-bs-toggle="tab">Ruoli operativi</a>
                        </li>
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link" href="#tab_04" data-bs-toggle="tab">Permessi accesso</a>
                        </li>
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link" href="#tab_05" data-bs-toggle="tab">Autorizzazioni</a>
                        </li>
                        <li class="nav-item storeTab" role="presentation">
                            <a class="nav-link" href="#tab_06" data-bs-toggle="tab">Email e PEC</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <!-- TAB 01 -->
                        <div id="tab_01" class="tab-pane active" role="tabpanel">
                            <fieldset class="border p-3 mb-4">
                                <legend class="float-none w-auto px-2">
                                    Dati anagrafici ID <span th:text="${amministratoriUtente.id}">0</span>
                                </legend>

                                <input type="hidden" name="id"           th:value="${amministratoriUtente.id}">
                                <input type="hidden" name="idsite"       th:value="${amministratoriUtente.idsite}">
                                <input type="hidden" name="statoaccesso" value="1">
                                <input type="hidden" name="profileImage" th:value="${amministratoriUtente.profileImage}">
                                <input type="hidden" name="avatarChanged" id="avatarChanged" value="0">
                                <input type="hidden" name="avatarNum" id="avatarNum" value="0">
                                <input type="hidden" name="ruoli1String" th:value="${amministratoriUtente.ruoli1String}">
                                <input type="hidden" name="ruoli2String" th:value="${amministratoriUtente.ruoli2String}">
                                <input type="hidden" name="ruoli3String" th:value="${amministratoriUtente.ruoli3String}">
                                <input type="hidden" name="ruoli4String" th:value="${amministratoriUtente.ruoli4String}">
                                <input type="hidden" name="ruoli5String" th:value="${amministratoriUtente.ruoli5String}">

                                <div class="row form-group">
                                    <div class="col-lg-6 text-center">
                                        <img id="avatar-img"
                                             th:src="${amministratoriUtente.avatar}"
                                             alt="Avatar" style="width:150px" class="img-thumbnail mb-2"><br>
                                        <a href="javascript:void(0);" onclick="apriModalAvatar()"
                                           class="btn btn-sm btn-light-primary mb-1">
                                            <i class="ti ti-upload"></i> Carica foto utente
                                        </a>
                                        <a href="javascript:void(0);"
                                           th:data-id="${amministratoriUtente.id}"
                                           onclick="cancellaAvatar(this.dataset.id)"
                                           class="btn btn-sm btn-light-danger mb-1">
                                            <i class="ti ti-trash"></i> Cancella foto
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="cognomeU" class="col-form-label">
                                            Cognome o denominazione <span class="required">*</span>
                                        </label>
                                        <input type="text" name="cognome" id="cognomeU"
                                               th:value="${amministratoriUtente.cognome}"
                                               class="form-control obbligatorio" required>
                                        <label for="nome" class="col-form-label">Nome</label>
                                        <input type="text" name="nome" id="nome"
                                               th:value="${amministratoriUtente.nome}"
                                               class="form-control obbligatorio" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="email" name="email" id="email"
                                               th:value="${amministratoriUtente.email}"
                                               class="form-control obbligatorio email" required>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="pec" class="col-form-label">PEC</label>
                                        <input type="text" name="pec" id="pec"
                                               th:value="${amministratoriUtente.pec}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="indirizzo" class="col-form-label">Via e numero civico, città</label>
                                        <input type="text" name="indirizzo" id="indirizzo"
                                               th:value="${amministratoriUtente.indirizzo}"
                                               class="form-control upper">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="incarico" class="col-form-label">Incarico</label>
                                        <input type="text" name="incarico" id="incarico"
                                               th:value="${amministratoriUtente.incarico}"
                                               class="form-control upper">
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="extra1" class="col-form-label">Definisci firma per email</label>
                                        <input type="text" name="extra1" id="extra1"
                                               th:value="${amministratoriUtente.extra1}"
                                               class="form-control tinymce5basic">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- TAB 02 -->
                        <div id="tab_02" class="tab-pane" role="tabpanel">
                            <fieldset class="border p-3 mb-4">
                                <legend class="float-none w-auto px-2">Dati di accesso</legend>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="username" class="col-form-label">Username accesso</label>
                                        <input type="text" name="username" id="username"
                                               th:value="${amministratoriUtente.username}"
                                               class="form-control obbligatorio" required>
                                    </div>
                                    <div class="col-lg-2">
                                        <th:block th:if="${amministratoriUtente.password == null or amministratoriUtente.password == ''}">
                                            <label for="passwordNew" class="col-form-label">Password</label>
                                            <input type="password" name="password" id="passwordNew"
                                                   class="form-control obbligatorio" required>
                                            <code>[da 8 a 15 caratteri con almeno una minuscola, una maiuscola, una cifra e un carattere speciale]</code>
                                        </th:block>
                                        <th:block th:unless="${amministratoriUtente.password == null or amministratoriUtente.password == ''}">
                                            <label for="passwordHidden" class="col-form-label">Modifica la password di accesso</label>
                                            <a href="javascript:void(0);" onclick="$('#nuovaPasswordAccesso').toggle()"
                                               class="btn btn-lg btn-default">Cambia password</a>
                                            <input type="hidden" name="password" id="passwordHidden"
                                                   th:value="${amministratoriUtente.password}">
                                        </th:block>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="statoaccesso" class="col-form-label">Stato attivazione</label>
                                        <select name="statoaccesso" id="statoaccesso" class="form-control">
                                            <option value=""  th:selected="${amministratoriUtente.statoaccesso == null}">Indefinito</option>
                                            <option value="0" th:selected="${amministratoriUtente.statoaccesso == 0}">Disattivo</option>
                                            <option value="1" th:selected="${amministratoriUtente.statoaccesso == 1}">Attivo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group" id="nuovaPasswordAccesso" style="display:none">
                                    <div class="col-lg-6">
                                        <p>Inserire la nuova password con i seguenti requisiti:</p>
                                        <code>[da 8 a 15 caratteri con almeno una minuscola, una maiuscola, una cifra e un carattere speciale]</code>
                                        <div class="text-danger" id="nuovaPasswordAccessoError"></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="newpassword" class="col-form-label">Inserire password</label>
                                        <input type="password" id="newpassword" name="newpassword" class="form-control">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="newpasswordretype" class="col-form-label">Inserire nuovamente password</label>
                                        <input type="password" id="newpasswordretype" name="newpasswordretype" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-4">
                                        <label for="role19" class="col-form-label">Stato autenticazione 2F - Google Authenticator</label>
                                        <select name="role19" id="role19" class="form-control obbligatorio">
                                            <option value=""  th:selected="${amministratoriUtente.role19 == ''}">Indefinito</option>
                                            <option value="0" th:selected="${amministratoriUtente.role19 == '0'}">Disattivo</option>
                                            <option value="1" th:selected="${amministratoriUtente.role19 == '1'}">Attivo</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="role20" class="col-form-label">secretKey generator</label>
                                        <input type="text" name="role20" id="role20"
                                               th:value="${amministratoriUtente.role20}" class="form-control">
                                    </div>
                                    <div class="col-lg-2">
                                        <a href="javascript:void(0);"
                                           class="mb-0 mt-4 btn btn-primary btn-lg btn-block"
                                           onclick="GeneraAuthCodeGoogleAuthenticatorUtente('Generare un nuovo AUTHCODE Google Authenticator?')">
                                            Genera AUTHCODE
                                        </a>
                                    </div>
                                    <div class="col-lg-2">
                                        <a href="javascript:void(0);"
                                           class="mb-0 mt-4 btn btn-primary btn-lg btn-block"
                                           data-bs-toggle="modal" data-bs-target="#modalQRCODE">
                                            QRCODE
                                        </a>
                                    </div>
                                    <div class="modal fade" id="modalQRCODE" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Google Authenticator QR Code</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <p>Scansiona il codice utilizzando Google Authenticator APP</p>
                                                    <div class="d-flex justify-content-center">
                                                        <img th:src="@{/admin/amministratori/qrcode(email=${amministratoriUtente.email},securkey=${amministratoriUtente.role20})}"
                                                             class="img-fluid w-50" alt="QR Code">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Completato</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="socialId" class="col-form-label">Id social network</label>
                                        <input type="text" name="socialId" id="socialId"
                                               th:value="${amministratoriUtente.socialId}" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="socialName" class="col-form-label">Social name</label>
                                        <input type="text" name="socialName" id="socialName"
                                               th:value="${amministratoriUtente.socialName}" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="socialType" class="col-form-label">Social Tipologia</label>
                                        <input type="text" name="socialType" id="socialType"
                                               th:value="${amministratoriUtente.socialType}" class="form-control">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="socialImage" class="col-form-label">Path social Image</label>
                                        <input type="text" name="socialImage" id="socialImage"
                                               th:value="${amministratoriUtente.socialImage}" class="form-control">
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <label class="form-label fw-bold">Gruppi associati</label>
                                        <select name="idGruppiArray" id="id_gruppi" multiple size="10" class="form-select shadow-sm">
                                            <option th:each="g : ${listaGruppi}"
                                                    th:value="${g.id}" th:text="${g.nome}"
                                                    th:selected="${amministratoriUtente.idGruppiArray != null and #arrays.contains(amministratoriUtente.idGruppiArray, g.id.toString())}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row g-2">
                                            <div class="col-12 col-md-5">
                                                <label class="form-label fw-bold">Data di registrazione</label>
                                                <div class="form-control-plaintext border-bottom" th:text="${amministratoriUtente.datacreazione}">-</div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <label class="form-label fw-bold">Ultimo accesso | IP | Totale</label>
                                                <div class="form-control-plaintext border-bottom">
                                                    <span th:text="${amministratoriUtente.dataultimoaccesso}">-</span> |
                                                    <span th:text="${amministratoriUtente.ipultimoaccesso}">-</span> |
                                                    <span class="badge bg-secondary" th:text="${amministratoriUtente.numeroaccessi}">-</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- TAB 03 -->
                        <div id="tab_03" class="tab-pane" role="tabpanel">
                            <fieldset class="border p-3">
                                <legend class="float-none w-auto px-2">Ruoli di servizio</legend>
                                <div class="row form-group">
                                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                        <div class="col-lg-6 mb-1">
                                            <label th:for="${'ruoliA' + i}" class="col-form-label" th:text="${'Ruolo ' + i}">Ruolo N</label>
                                            <select th:name="${'ruoliA' + i}" th:id="${'ruoliA' + i}" multiple size="5" class="form-select shadow-sm">
                                                <option value="0">Nessuno</option>
                                                <option th:each="r : ${config.ruoli}"
                                                        th:value="${r.id}" th:text="${r.nome}"
                                                        th:selected="${i == 1 and amministratoriUtente.ruoliA1 != null and #arrays.contains(amministratoriUtente.ruoliA1, r.id.toString())}
                             or ${i == 2 and amministratoriUtente.ruoliA2 != null and #arrays.contains(amministratoriUtente.ruoliA2, r.id.toString())}
                             or ${i == 3 and amministratoriUtente.ruoliA3 != null and #arrays.contains(amministratoriUtente.ruoliA3, r.id.toString())}
                             or ${i == 4 and amministratoriUtente.ruoliA4 != null and #arrays.contains(amministratoriUtente.ruoliA4, r.id.toString())}
                             or ${i == 5 and amministratoriUtente.ruoliA5 != null and #arrays.contains(amministratoriUtente.ruoliA5, r.id.toString())}">
                                                </option>
                                            </select>
                                        </div>
                                    </th:block>
                                </div>
                            </fieldset>
                        </div>

                        <!-- TAB 04 -->
                        <div id="tab_04" class="tab-pane" role="tabpanel">
                            <fieldset class="border p-3">
                                <legend class="float-none w-auto px-2">Altri dati</legend>
                                <div class="row form-group">
                                    <div class="col-lg-6">
                                        <label for="role1" class="col-form-label">Amm/Sup/Red</label>
                                        <select name="role1" id="role1" class="form-control">
                                            <option value="a" th:selected="${amministratoriUtente.role1 == 'a'}">Amministratore</option>
                                            <option value="s" th:selected="${amministratoriUtente.role1 == 's'}">Supervisore</option>
                                            <option value="r" th:selected="${amministratoriUtente.role1 == 'r'}">Redattore</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="role2" class="col-form-label">Accesso portale</label>
                                        <select name="role2" id="role2" class="form-control">
                                            <option value=""  th:selected="${amministratoriUtente.role2 == ''}">Indefinito</option>
                                            <option value="0" th:selected="${amministratoriUtente.role2 == '0'}">Disattivo</option>
                                            <option value="1" th:selected="${amministratoriUtente.role2 == '1'}">Attivo</option>
                                        </select>
                                    </div>
                                    <th:block th:each="i : ${#numbers.sequence(3, 18)}">
                                        <div class="col-lg-6 mb-1">
                                            <label th:for="${'role' + i}" class="col-form-label" th:text="${'Ruolo ' + i}">Ruolo N</label>
                                            <select th:name="${'role' + i}" th:id="${'role' + i}" class="form-control">
                                                <option value=""  th:selected="${__${'amministratoriUtente.role' + i}__ == ''}">Indefinito</option>
                                                <option value="0" th:selected="${__${'amministratoriUtente.role' + i}__ == '0'}">Disattivo</option>
                                                <option value="1" th:selected="${__${'amministratoriUtente.role' + i}__ == '1'}">Attivo</option>
                                            </select>
                                        </div>
                                    </th:block>
                                </div>
                            </fieldset>
                        </div>

                        <!-- TAB 05 -->
                        <div id="tab_05" class="tab-pane" role="tabpanel">
                            <fieldset class="border p-3">
                                <legend class="float-none w-auto px-2">Altri dati</legend>
                                <div class="row form-group">
                                    <div class="col-lg-6 mb-1">
                                        <label for="l1" class="col-form-label">L1</label>
                                        <select name="l1" id="l1" class="form-control">
                                            <option value=""  th:selected="${amministratoriUtente.l1 == ''}">Indefinito</option>
                                            <option value="0" th:selected="${amministratoriUtente.l1 == '0'}">Disattivo</option>
                                            <option value="1" th:selected="${amministratoriUtente.l1 == '1'}">Attivo</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="l2" class="col-form-label">Accesso a</label>
                                        <select name="l2" id="l2" class="form-control">
                                            <option value=""  th:selected="${amministratoriUtente.l2 == ''}">Indefinito</option>
                                            <option value="0" th:selected="${amministratoriUtente.l2 == '0'}">Portale WEB</option>
                                            <option value="1" th:selected="${amministratoriUtente.l2 == '1'}">Protocollo e gestione documentale</option>
                                            <option value="2" th:selected="${amministratoriUtente.l2 == '2'}">Mensa</option>
                                            <option value="3" th:selected="${amministratoriUtente.l2 == '3'}">Casa dello studente</option>
                                            <option value="4" th:selected="${amministratoriUtente.l2 == '4'}">Gestione Bandi e Concorsi</option>
                                        </select>
                                    </div>
                                    <th:block th:each="i : ${#numbers.sequence(3, 10)}">
                                        <div class="col-lg-6 mb-3">
                                            <label th:for="${'l' + i}" class="col-form-label" th:text="${'L' + i}">LN</label>
                                            <select th:name="${'l' + i}" th:id="${'l' + i}" class="form-control">
                                                <option value=""  th:selected="${__${'amministratoriUtente.l' + i}__ == ''}">Indefinito</option>
                                                <option value="0" th:selected="${__${'amministratoriUtente.l' + i}__ == '0'}">Disattivo</option>
                                                <option value="1" th:selected="${__${'amministratoriUtente.l' + i}__ == '1'}">Attivo</option>
                                            </select>
                                        </div>
                                    </th:block>
                                </div>
                            </fieldset>
                        </div>

                        <!-- TAB 06 -->
                        <div id="tab_06" class="tab-pane" role="tabpanel">
                            <fieldset class="border p-3">
                                <legend class="float-none w-auto px-2">Associazione Account Email e PEC</legend>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <div class="card h-100 shadow-sm border">
                                            <div class="card-body">
                                                <h5>Email Ordinaria</h5>
                                                <div class="text-end mb-2">
                                                    <button type="button" class="btn btn-outline-info btn-sm"
                                                            data-tipo="EMAIL" data-target="data_tableEmail"
                                                            onclick="apriPopupAccount(this.dataset.tipo, this.dataset.target);">
                                                        <i class="fas fa-plus"></i> Associa Email
                                                    </button>
                                                </div>
                                                <input type="hidden" name="idaccountemail" id="idaccountemail"
                                                       th:value="${amministratoriUtente.idaccountemail}">
                                                <table id="data_tableEmail" class="table table-sm table-bordered table-striped mb-0">
                                                    <thead><tr><th>Descrizione</th><th style="width:50px">Rimuovi</th></tr></thead>
                                                    <tbody>
                                                    <tr th:each="acc : ${amministratoriUtente.accountEmail}" th:id="'rowEMAIL_' + ${acc.id}">
                                                        <td th:text="${acc.descrizione}"></td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0);"
                                                               th:data-hidden-id="'idaccountemail'"
                                                               th:data-acc-id="${acc.id}"
                                                               th:data-row-id="'rowEMAIL_' + ${acc.id}"
                                                               onclick="disassociaAccount(this.dataset.hiddenId, this.dataset.accId, this.dataset.rowId);">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <div class="card h-100 shadow-sm border">
                                            <div class="card-body">
                                                <h5>Account PEC</h5>
                                                <div class="text-end mb-2">
                                                    <button type="button" class="btn btn-outline-info btn-sm"
                                                            data-tipo="PEC" data-target="data_tablePec"
                                                            onclick="apriPopupAccount(this.dataset.tipo, this.dataset.target);">
                                                        <i class="fas fa-plus"></i> Associa PEC
                                                    </button>
                                                </div>
                                                <input type="hidden" name="idaccountpec" id="idaccountpec"
                                                       th:value="${amministratoriUtente.idaccountpec}">
                                                <table id="data_tablePec" class="table table-sm table-bordered table-striped mb-0">
                                                    <thead><tr><th>Descrizione</th><th style="width:50px">Rimuovi</th></tr></thead>
                                                    <tbody>
                                                    <tr th:each="acc : ${amministratoriUtente.accountPec}" th:id="'rowPEC_' + ${acc.id}">
                                                        <td th:text="${acc.descrizione}"></td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0);"
                                                               th:data-hidden-id="'idaccountpec'"
                                                               th:data-acc-id="${acc.id}"
                                                               th:data-row-id="'rowPEC_' + ${acc.id}"
                                                               onclick="disassociaAccount(this.dataset.hiddenId, this.dataset.accId, this.dataset.rowId);">
                                                                <i class="fas fa-trash-alt text-danger"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Avatar -->
    <div class="modal fade" id="modalAvatar" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Foto profilo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="#avatarTabUpload" data-bs-toggle="tab">
                                <i class="ti ti-upload me-1"></i> Carica foto
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#avatarTabScegli" data-bs-toggle="tab">
                                <i class="ti ti-mood-smile me-1"></i> Scegli avatar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#avatarTabWebcam" data-bs-toggle="tab">
                                <i class="ti ti-camera me-1"></i> Scatta foto
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="avatarTabUpload" class="tab-pane fade show active">
                            <div class="mb-3">
                                <input type="file" id="avatarFileInput" class="form-control" accept="image/*">
                            </div>
                            <div id="avatarCropContainer" style="display:none;max-height:350px;overflow:hidden">
                                <img id="avatarImgPreview" src="" style="max-width:100%">
                            </div>
                            <div id="avatarPreviewBox" style="display:none;margin-top:15px">
                                <label class="form-label fw-bold">Anteprima</label><br>
                                <div class="overflow-hidden rounded-circle border d-inline-block" style="width:100px;height:100px">
                                    <div class="cropper-preview" style="width:100px;height:100px;overflow:hidden"></div>
                                </div>
                            </div>
                        </div>
                        <div id="avatarTabScegli" class="tab-pane fade">
                            <p class="text-muted mb-3">Clicca su un avatar per selezionarlo</p>
                            <div class="d-flex flex-wrap gap-3 justify-content-center">
                                <img th:each="i : ${#numbers.sequence(1, 10)}"
                                     th:src="@{'/manager/assets/img/user/avatar-' + ${i} + '.jpg'}"
                                     th:data-num="${i}"
                                     onclick="selezionaAvatarPredefinito(this)"
                                     class="rounded-circle border avatar-predefinito"
                                     style="width:80px;height:80px;cursor:pointer;object-fit:cover;transition:all 0.2s">
                            </div>
                        </div>
                        <div id="avatarTabWebcam" class="tab-pane fade">
                            <div id="webcamContainer">
                                <video id="webcamVideo" autoplay playsinline
                                       style="width:100%;max-height:300px;border-radius:8px;background:#000"></video>
                                <canvas id="webcamCanvas" style="display:none"></canvas>
                            </div>
                            <div class="mt-2 text-center">
                                <button type="button" class="btn btn-primary" onclick="scattaFoto()">
                                    <i class="fas fa-camera me-1"></i> Scatta
                                </button>
                                <button type="button" class="btn btn-secondary ms-2" id="btnRiscatta"
                                        style="display:none" onclick="riscattaFoto()">
                                    <i class="fas fa-redo me-1"></i> Riscatta
                                </button>
                            </div>
                            <div id="webcamPreview" style="display:none;margin-top:10px;text-align:center">
                                <img id="webcamSnapshot" src="" style="max-width:200px;border-radius:50%;border:3px solid #0d6efd">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary" id="btnSalvaAvatar"
                            style="display:none" onclick="salvaAvatar()">
                        <i class="fas fa-save me-1"></i> Salva foto
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        var _popupTargetTable = null;
        var _popupTipo = null;
        var _avatarCropper = null;
        var _avatarPredefinitaSelezionata = null;
        var _avatarUtenteId = /*[[${amministratoriUtente.id}]]*/ 0;

        function apriPopupAccount(tipo, targetTable) {
    _popupTipo = tipo;
    _popupTargetTable = targetTable;
    document.getElementById('modalAccountTitle').innerText = 'Associa account ' + tipo;
    const body = document.getElementById('modalAccountBody');
    body.innerHTML = '<div class="text-center p-4"><div class="spinner-border text-info"></div></div>';
    fetch('/admin/account/popup/' + tipo)
        .then(r => r.json())
        .then(lista => {
            let html = '<div class="p-2">';
            if (lista.length === 0) {
                html += '<div class="text-center text-muted p-4"><i class="fas fa-inbox fa-2x mb-2"></i><br>Nessun account disponibile</div>';
            } else {
                lista.forEach(acc => {
                    const email = acc.emailAccount || acc.pecAccount || '';
                    html += `
                    <div class="d-flex align-items-center justify-content-between p-3 border-bottom gap-2">
                        <div style="min-width:0;flex:1">
                            <div class="fw-semibold text-truncate" style="font-size:14px">${acc.descrizione}</div>
                            <small class="text-muted text-truncate d-block">${email}</small>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary flex-shrink-0"
                            onclick="associaAccountDinamico('${acc.id}', '${acc.descrizione.replace(/'/g, "\\'")}')">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>`;
                });
            }
            html += '</div>';
            body.innerHTML = html;
        })
        .catch(() => {
            body.innerHTML = '<div class="alert alert-danger m-3">Errore nel caricamento.</div>';
        });
    bootstrap.Modal.getOrCreateInstance(document.getElementById('modalAccount')).show();
}

       function associaAccountDinamico(id, descrizione) {
    const tipo = _popupTipo;
    const targetTableId = _popupTargetTable;
    const hiddenId = (tipo === 'EMAIL') ? 'idaccountemail' : 'idaccountpec';
    const rowId = (tipo === 'EMAIL' ? 'rowEMAIL_' : 'rowPEC_') + id;

    // Evita duplicati
    const hidden = document.getElementById(hiddenId);
    const current = hidden.value ? hidden.value.split(',').filter(v => v !== '') : [];
    if (current.includes(String(id))) {
        bootstrap.Modal.getInstance(document.getElementById('modalAccount')).hide();
        return;
    }

    // Aggiunge l'id alla lista
    current.push(String(id));
    hidden.value = current.join(',');

    // Aggiunge la riga visiva
    if (!document.getElementById(rowId)) {
        const tbody = document.querySelector('#' + targetTableId + ' tbody');
        tbody.insertAdjacentHTML('beforeend', `
            <tr id="${rowId}">
                <td>${descrizione}</td>
                <td class="text-center">
                    <a href="javascript:void(0);" onclick="disassociaAccount('${hiddenId}','${id}','${rowId}')">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </td>
            </tr>`);
    }

    bootstrap.Modal.getInstance(document.getElementById('modalAccount')).hide();
}

        function disassociaAccount(hiddenId, idToRemove, rowId) {
            const hidden = document.getElementById(hiddenId);
            hidden.value = hidden.value.split(',')
                .filter(id => id.trim() !== '' && id.toString() !== idToRemove.toString()).join(',');
            const row = document.getElementById(rowId);
            if (row) row.remove();
        }

        function apriModalAvatar() {
            window._webcamPhotoData = null;
            _avatarCropper = null;
            _avatarPredefinitaSelezionata = null;
            document.getElementById('btnSalvaAvatar').style.display = 'none';
            document.getElementById('avatarCropContainer').style.display = 'none';
            document.getElementById('avatarPreviewBox').style.display = 'none';
            document.getElementById('avatarFileInput').value = '';
            document.querySelectorAll('.avatar-predefinito').forEach(function(img) {
                img.style.border = '2px solid #dee2e6';
                img.style.opacity = '1';
            });
            bootstrap.Modal.getOrCreateInstance(document.getElementById('modalAvatar')).show();
        }

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('avatarFileInput').addEventListener('change', function(e) {
                var file = e.target.files[0];
                if (!file) return;
                _avatarPredefinitaSelezionata = null;
                window._webcamPhotoData = null;
                var reader = new FileReader();
                reader.onload = function(ev) {
                    var img = document.getElementById('avatarImgPreview');
                    img.src = ev.target.result;
                    document.getElementById('avatarCropContainer').style.display = '';
                    document.getElementById('avatarPreviewBox').style.display = '';
                    document.getElementById('btnSalvaAvatar').style.display = 'inline-block';
                    if (_avatarCropper) _avatarCropper.destroy();
                    _avatarCropper = new Cropper(img, {
                        aspectRatio: 1, viewMode: 1,
                        preview: '.cropper-preview', autoCropArea: 0.8
                    });
                };
                reader.readAsDataURL(file);
            });
        });

        function selezionaAvatarPredefinito(el) {
            document.querySelectorAll('.avatar-predefinito').forEach(function(img) {
                img.style.border = '2px solid #dee2e6';
                img.style.opacity = '1';
            });
            el.style.border = '3px solid #0088cc';
            el.style.opacity = '0.85';
            _avatarPredefinitaSelezionata = el.src;
            _avatarCropper = null;
            window._webcamPhotoData = null;
            document.getElementById('btnSalvaAvatar').style.display = 'inline-block';
        }

        function salvaAvatar() {

            // CASO 1: foto da webcam
            if (window._webcamPhotoData) {
                fetch('/admin/filemanager/avatar/upload-base64', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        image: window._webcamPhotoData,
                        idUtente: String(_avatarUtenteId),
                        tipo: 'amministratore'
                    })
                })
                .then(function(r) { return r.text(); })
                .then(function(data) {
                    if (data === 'OK') {
                        document.querySelector('input[name="profileImage"]').value = '1';
                        document.querySelector('input[name="avatarChanged"]').value = '1';
                        document.getElementById('avatar-img').src = window._webcamPhotoData;
                        bootstrap.Modal.getInstance(document.getElementById('modalAvatar')).hide();
                        window._webcamPhotoData = null;
                        showToast('Completato', 'Foto salvata. Ricordati di salvare il form.');
                    } else {
                        showToast('Errore', 'Errore nel salvataggio della foto.', 'danger');
                    }
                })
                .catch(function(err) {
                    console.error('Errore fetch avatar webcam:', err);
                    showToast('Errore', 'Errore di rete.', 'danger');
                });
                return;
            }

            // CASO 2: avatar predefinito
            if (_avatarPredefinitaSelezionata) {
                var num = _avatarPredefinitaSelezionata.match(/avatar-(\d+)\.jpg/);
                if (num) {
                    document.getElementById('avatarNum').value = num[1];
                }
                document.querySelector('input[name="profileImage"]').value = '0';
                document.querySelector('input[name="avatarChanged"]').value = '1';
                document.getElementById('avatar-img').src = _avatarPredefinitaSelezionata;
                bootstrap.Modal.getInstance(document.getElementById('modalAvatar')).hide();
                _avatarPredefinitaSelezionata = null;
                showToast('Completato', 'Avatar selezionato. Ricordati di salvare il form.');
                return;
            }

            // CASO 3: crop da file
            if (!_avatarCropper) return;

            var canvas = _avatarCropper.getCroppedCanvas({ width: 300, height: 300 });
            var base64 = canvas.toDataURL('image/jpeg', 0.85);

            fetch('/admin/filemanager/avatar/upload-base64', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    image: base64,
                    idUtente: String(_avatarUtenteId),
                    tipo: 'amministratore'
                })
            })
            .then(function(r) { return r.text(); })
            .then(function(data) {
                if (data === 'OK') {
                    document.querySelector('input[name="profileImage"]').value = '1';
                    document.querySelector('input[name="avatarChanged"]').value = '1';
                    document.getElementById('avatar-img').src = base64;
                    bootstrap.Modal.getInstance(document.getElementById('modalAvatar')).hide();
                    showToast('Completato', 'Foto salvata. Ricordati di salvare il form.');
                } else {
                    showToast('Errore', 'Errore nel salvataggio della foto.', 'danger');
                }
            })
            .catch(function(err) {
                console.error('Errore fetch avatar:', err);
                showToast('Errore', 'Errore di rete.', 'danger');
            });
        }

        function cancellaAvatar(id) {
            confirmAction('Eliminare la foto profilo?', function() {
                fetch('/admin/filemanager/avatar/upload-base64', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ image: '', idUtente: String(id), tipo: 'amministratore' })
                }).then(function() {
                    document.querySelector('input[name="profileImage"]').value = '0';
                    document.querySelector('input[name="avatarChanged"]').value = '1';
                    document.getElementById('avatar-img').src = '/manager/assets/img/user/avatar-1.jpg';
                    showToast('Completato', 'Foto eliminata. Ricordati di salvare il form.');
                });
            });
        }
    </script>
</div>
</body>
</html>