<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site01/layout/template}">
<body>
<main layout:fragment="content">

    <!-- ========================================
         PAGE TITLE + BREADCRUMBS
         ======================================== -->
    <th:block th:replace="~{site01/fragments/page_title :: documentTitle}"></th:block>

    <!-- ========================================
         SWITCH CONTENUTO DOCUMENTO
         Routing basato su content.sectionType.page4
         ======================================== -->
    <div th:switch="${content.section.sectionType.page4}">

        <th:block th:case="'contentWebUO'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebUO :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebPersona'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebPersona :: content}"></th:block>
        </th:block>

        <!--Dettaglio Blog-->
        <th:block th:case="'dettaglioBlog'">
            <th:block th:replace="~{site01/fragments/document_frag/dettaglioBlog :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebServizio'">
            <th:block th:replace="~{site01/fragments/document_frag/dettaglioContenutoServizio :: content}"></th:block>
        </th:block>

        <!-- Dettaglio CONTENTWEBLUOGO -->
        <th:block th:case="'contentWebLuogo'">
            <th:block th:replace="~{site01/fragments/document_frag/dettagliocontentWebLuogo :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebNCS'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebNCS :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebEvento'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebEvento :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebDocumenti'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebDocumenti :: content}"></th:block>
        </th:block>

        <th:block th:case="'contentWebArgomento'">
            <th:block th:replace="~{site01/fragments/document_frag/contentWebArgomento :: content}"></th:block>
        </th:block>
    </div>

</main>
</body>
</html>