<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site01/layout/template}">
<body>
<main layout:fragment="content">
    <!-- Hero Section -->
    <th:block th:replace="~{site01/fragments/home_frag/frag_01 :: banner}"></th:block>

    <!-- Features Section -->
    <th:block th:replace="~{site01/fragments/home_frag/frag_02 :: home_02}"></th:block>

    <!-- Popular Courses Section -->
    <th:block th:replace="~{site01/fragments/home_frag/frag_03 :: home_03}"></th:block>

    <th:block th:replace="~{site01/fragments/home_frag/frag_04 :: home_04}"></th:block>

    <th:block th:replace="~{site01/fragments/home_frag/frag_05 :: home_05}"></th:block>

    <th:block th:replace="~{site01/fragments/home_frag/frag_06 :: home_06}"></th:block>

</main>
</body>
</html>