<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site01/layout/template}">
<body>
<main layout:fragment="content">

    <!-- ========================================
         PAGE TITLE + BREADCRUMBS
         ======================================== -->
    <th:block th:replace="~{site01/fragments/page_title :: sectionTitle}"></th:block>

    <!-- ========================================
         SWITCH CONTENUTO SEZIONE
         Routing basato su section.sectionType.page3
         ======================================== -->
    <div th:switch="${section.sectionType.page3}">

        <!-- Sezione Web Standard-->
        <th:block th:case="'sectionWeb'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWeb :: content}"></th:block>
        </th:block>

        <!-- Sezione Web Standard-->
        <th:block th:case="'sectionWebUO'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebUO :: content}"></th:block>
        </th:block>

        <th:block th:case="'sectionWebPersona'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebPersona :: content}"></th:block>
        </th:block>

        <!-- Sezione Web Standard-->
        <th:block th:case="'sectionWebLuogo'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebLuogo :: content}"></th:block>
        </th:block>

        <th:block th:case="'sectionWebNCS'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebNCS :: content}"></th:block>
        </th:block>

        <th:block th:case="'sectionWebEvento'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebEvento :: content}"></th:block>
        </th:block>

        <th:block th:case="'sectionWebDocumenti'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebDocumenti :: content}"></th:block>
        </th:block>

        <th:block th:case="'sectionWebArgomento'">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebArgomento :: content}"></th:block>
        </th:block>

        <!-- Default fallback: sezione standard -->
        <th:block th:case="*">
            <th:block th:replace="~{site01/fragments/section_frag/sectionWebServizio :: content}"></th:block>
        </th:block>

    </div>

</main>
</body>
</html>