<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

    <footer id="footer-wrapper" class="footer-wrapper">
        <div class="container">

            <!-- LOGHI -->
            <div class="row variable-gutters mb-5">
                <div class="col logos-wrapper">
                    <div class="logo-footer">
                        <img class="me-2"
                             th:src="@{'/' + ${config.sito.path2} + '/assets/logo_orizzontale.png'}"
                             height="100" alt="Logo I.C. Castellabate">

                        <p class="h1">
                            <span>I.C. Castellabate</span>
                            <span><strong>Castellabate - Perdifumo - Montecorice</strong></span>
                        </p>
                    </div>
                </div>

                <img class="ue-logo p-3"
                     th:src="@{'/' + ${config.sito.path2} + '/assets/finanziatoEU.png'}"
                     style="max-height:100px;" alt="logo Unione Europea">
            </div>

            <!-- LINK ESTERNI + COLONNE DINAMICHE -->
            <div class="row variable-gutters mb-3">

                <div class="col-lg-4">
                    <h2 class="h3">Collegamenti esterni</h2>
                    <div class="footer-list">
                        <ul>
                            <li>
                                <a class="text-underline-hover" href="https://www.mim.gov.it/" target="_blank"
                                   aria-label="Ministero dell'Istruzione e del Merito - link esterno - apertura nuova scheda">
                                    Ministero dell'Istruzione e del Merito
                                </a>
                            </li>
                            <li>
                                <a class="text-underline-hover" href="https://www.mim.gov.it/web/miur-usr-campania" target="_blank"
                                   aria-label="Ufficio Scolastico Regionale - link esterno - apertura nuova scheda">
                                    Ufficio Scolastico Regionale
                                </a>
                            </li>
                            <li>
                                <a class="text-underline-hover" href="https://uat-salerno.it/" target="_blank"
                                   aria-label="Ufficio Scolastico Territoriale - link esterno - apertura nuova scheda">
                                    Ufficio Scolastico Territoriale
                                </a>
                            </li>
                            <li>
                                <a class="text-underline-hover"
                                   href="https://unica.istruzione.gov.it/cercalatuascuola/istituti/SAIC8A0002/IST.%20COMPR.%20CASTELLABATE"
                                   target="_blank" aria-label="Scuola in Chiaro - link esterno - apertura nuova scheda">
                                    Scuola in Chiaro
                                </a>
                            </li>
                            <li>
                                <a class="text-underline-hover"
                                   href="https://unica.istruzione.gov.it/portale/it/orientamento/iscrizioni"
                                   target="_blank" aria-label="Iscrizioni On Line - link esterno - apertura nuova scheda">
                                    Iscrizioni On Line
                                </a>
                            </li>
                            <li>
                                <a class="text-underline-hover" href="https://www.invalsi.it/" target="_blank"
                                   aria-label="Invalsi - link esterno - apertura nuova scheda">
                                    Invalsi
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Colonne dinamiche (menu1 == 1) -->
                <th:block th:if="${config != null and config.sezioniFront != null}">
                    <th:block th:each="sezione : ${config.sezioniFront}">
                        <th:block th:if="${sezione.menu1 == '1'}">
                            <div class="col-lg-2">
                                <h2 class="h3" th:text="${sezione.titolo}">Titolo sezione</h2>

                                <th:block th:if="${sezione.emptySubsection == false}">
                                    <div class="footer-list">
                                        <ul>
                                            <th:block th:each="sezione2 : ${sezione.subsection}">
                                                <th:block th:if="${sezione2.menu1 != '0'}">

                                                    <!-- interno -->
                                                    <li th:if="${sezione2.menu2 == '0'}">
                                                        <a class="text-underline-hover"
                                                           th:href="${sezione2.url}">
                                                            <span th:text="${sezione2.titolo}">Titolo</span>
                                                        </a>
                                                    </li>

                                                    <!-- voce non cliccabile -->
                                                    <li th:if="${sezione2.menu2 == '1'}">
                                                        <a class="text-underline-hover" href="javascript:void(0);">
                                                            <span th:text="${sezione2.titolo}">Titolo</span>
                                                        </a>
                                                    </li>

                                                    <!-- esterno -->
                                                    <li th:if="${sezione2.menu2 == '2'}">
                                                        <a class="text-underline-hover"
                                                           th:href="${sezione2.menu3}" target="_blank" rel="noopener">
                                                            <span th:text="${sezione2.titolo}">Titolo</span>
                                                        </a>
                                                    </li>

                                                </th:block>
                                            </th:block>
                                        </ul>
                                    </div>
                                </th:block>

                            </div>
                        </th:block>
                    </th:block>
                </th:block>

            </div><!-- ✅ chiusura row mb-3 -->

            <!-- SUB-FOOTER -->
            <div class="row variable-gutters">
                <div class="col-lg-12 sub-footer">

                    <ul id="menu-footer" class="footer-inline-menu">
                        <li>
                            <a class="text-underline-hover"
                               th:href="@{/page/1/1860/1/2025/Note_legali}"
                               data-element="legal-notes">Note Legali</a>
                        </li>

                        <li>
                            <a class="text-underline-hover"
                               href="https://www.trasparenzascuole.it/Public/AmministrazioneTrasparenteV3.aspx?Customer_ID=2a38e3da-7fe9-4f6f-b5c5-519a423ead91"
                               target="_blank" rel="noopener">
                                Amministrazione Trasparente
                            </a>
                        </li>

                        <li>
                            <a class="text-underline-hover"
                               href="https://www.trasparenzascuole.it/Public/APDPublic_ExtV2.aspx?CF=90021820650"
                               target="_blank" rel="noopener">
                                Albo online
                            </a>
                        </li>

                        <li>
                            <a class="text-underline-hover"
                               th:href="@{/page/1/766/1/2024/Privacy_Policy}"
                               data-element="privacy-policy-link">Privacy Policy</a>
                        </li>

                        <li>
                            <a class="text-underline-hover"
                               href="https://form.agid.gov.it/view/218beb20-477c-11f0-935b-ed5e94258b52"
                               target="_blank" rel="noopener"
                               data-element="accessibility-link">
                                Dichiarazione di accessibilità
                            </a>
                        </li>
                    </ul>

                    <div class="footer-social">
                        <span>Seguici su:</span>
                        <div class="footer-social-wrapper">
                            <a href="#" aria-label="facebook" title="vai alla pagina facebook">
                                <svg class="icon it-social-facebook">
                                    <use th:href="@{|/${config.sito.path2}/svg/sprites.svg#it-facebook|}"></use>
                                </svg>
                            </a>
                            <a href="#" aria-label="twitter" title="vai alla pagina twitter">
                                <svg class="icon it-social-twitter">
                                    <use th:href="@{|/${config.sito.path2}/svg/sprites.svg#it-twitter|}"></use>
                                </svg>
                            </a>
                            <a href="#" aria-label="linkedin" title="vai alla pagina linkedin">
                                <svg class="icon it-social-linkedin">
                                    <use th:href="@{|/${config.sito.path2}/svg/sprites.svg#it-linkedin|}"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- TESTO -->
            <div class="row variable-gutters mb-3">
                <div class="col-lg-12 text-left text-md-center footer-text">
                    <p>
                        Via Federico Coppola - 84048 S. Maria di Castellabate (Sa) - Telefono:
                        <a href="tel:+390974961097">0974961097</a>
                        - Email: <a href="mailto:saic8a0002@istruzione.it">saic8a0002@istruzione.it</a>
                        - Posta elettronica certificata (PEC):
                        <a href="mailto:saic8a0002@pec.istruzione.it">saic8a0002@pec.istruzione.it</a>
                        <br>
                        Codice meccanografico: SAIC8A0002 - Codice Indice delle Pubbliche Amministrazioni (IPA): icc_065 -
                        Codice fiscale 90021820650 - Codice univoco fatturazione elettronica (CUF): UFV9AR
                    </p>
                </div>
            </div>

            <!-- CREDITI + LOGIN -->
            <div class="row variable-gutters mb-3">
                <div class="col-lg-8">
                    <a class="text-underline-hover" href="https://studiodominoweb.com/" target="_blank" rel="noopener">
                        Sistema realizzato con J-Platform - Java Open Cms Framework - Studiodomino srl
                    </a>
                </div>
                <div class="col-lg-4 text-right">
                    <a class="text-underline-hover" th:href="@{/login}">Redazione</a>
                </div>
            </div>

        </div>
    </footer>

</th:block>