<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse" data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="demo-elearning.html">
                    <img th:src="@{/site01/images/demo-elearning-logo-white.png}" th:attr="data-at2x=@{/site01/images/demo-elearning-logo-white@2x.png}" alt="" class="default-logo">
                    <img th:src="@{/site01/images/demo-elearning-logo-black.png}" th:attr="data-at2x=@{/site01/images/demo-elearning-logo-black@2x.png}" alt="" class="alt-logo">
                    <img th:src="@{/site01/images/demo-elearning-logo-black.png}" th:attr="data-at2x=@{/site01/images/demo-elearning-logo-black@2x.png}" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto menu-order position-static">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav alt-font">
                        <th:block th:if="${config.sezioniFront != null}">
                            <th:block th:each="sezione, iterStat : ${config.sezioniFront}">
                                <!-- ===== TIPO 1: MENU ITEM SINGOLO ===== -->
                                <th:block th:if="${sezione.menu1 == '1'}">
                                    <li class="nav-item">
                                        <!-- Link normale a sezione -->
                                        <a th:if="${sezione.menu2 == '0'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           th:href="@{/front(pid=${sezione.id})}"
                                           class="nav-link"
                                           th:text="${sezione.titolo}">Sezione</a>

                                        <!-- Link senza azione -->
                                        <a th:if="${sezione.menu2 == '1'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           href="javascript:void(0);"
                                           class="nav-link"
                                           th:text="${sezione.titolo}">Sezione</a>

                                        <!-- Link custom esterno -->
                                        <a th:if="${sezione.menu2 == '2'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           th:href="${sezione.menu3}"
                                           class="nav-link"
                                           th:text="${sezione.menu4}">Link esterno</a>
                                    </li>
                                </th:block>
                                <!-- ===== TIPO 2: DROPDOWN MENU ===== -->
                                <th:block th:if="${sezione.menu1 == '3'}">
                                    <li class="nav-item dropdown simple-dropdown">
                                        <!-- Link parent dropdown -->
                                        <a th:if="${sezione.menu2 == '0'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           th:href="@{/front(pid=${sezione.id})}"
                                           class="nav-link"
                                           th:text="${sezione.titolo}">Sezione</a>

                                        <a th:if="${sezione.menu2 == '1'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           href="javascript:void(0);"
                                           class="nav-link"
                                           th:text="${sezione.titolo}">Sezione</a>

                                        <a th:if="${sezione.menu2 == '2'}"
                                           th:id="'sectid_' + ${sezione.id}"
                                           th:href="${sezione.menu3}"
                                           class="nav-link"
                                           th:text="${sezione.menu4}">Link esterno</a>

                                        <!-- Dropdown toggle icon -->
                                        <i th:if="${sezione.subsection != null and !sezione.subsection.isEmpty()}"
                                           class="fa-solid fa-angle-down dropdown-toggle"
                                           th:id="'navbarDropdown_' + ${sezione.id}"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false"></i>

                                        <!-- DROPDOWN MENU LIVELLO 2 -->
                                        <ul th:if="${sezione.subsection != null and !sezione.subsection.isEmpty()}"
                                            class="dropdown-menu"
                                            th:aria-labelledby="'navbarDropdown_' + ${sezione.id}">
                                            <th:block th:each="sezione2 : ${sezione.subsection}">
                                                <th:block th:if="${sezione2.menu1 != '0'}">

                                                    <!-- Aggiungi classe "dropdown" se sezione2 ha sottosezioni -->
                                                    <li th:classappend="${sezione2.subsection != null and !sezione2.subsection.isEmpty()} ? 'dropdown' : ''">

                                                        <!-- Link sottosezione LIVELLO 2 -->
                                                        <a th:if="${sezione2.menu2 == '0'}"
                                                           th:href="@{/front(pid=${sezione2.id})}">
                                                            <span th:text="${sezione2.titolo}">Sottosezione</span>
                                                            <!-- Icona freccia se ha sottosezioni -->
                                                            <i th:if="${sezione2.subsection != null and !sezione2.subsection.isEmpty()}"
                                                               class="fa-solid fa-angle-right"></i>
                                                        </a>

                                                        <a th:if="${sezione2.menu2 == '1'}"
                                                           href="javascript:void(0);">
                                                            <span th:text="${sezione2.titolo}">Sottosezione</span>
                                                            <i th:if="${sezione2.subsection != null and !sezione2.subsection.isEmpty()}"
                                                               class="fa-solid fa-angle-right"></i>
                                                        </a>

                                                        <a th:if="${sezione2.menu2 == '2'}"
                                                           th:href="${sezione2.menu3}">
                                                            <span th:text="${sezione2.menu4}">Link esterno</span>
                                                            <i th:if="${sezione2.subsection != null and !sezione2.subsection.isEmpty()}"
                                                               class="fa-solid fa-angle-right"></i>
                                                        </a>

                                                        <!-- SOTTOSEZIONI DI LIVELLO 3 -->
                                                        <ul th:if="${sezione2.subsection != null and !sezione2.subsection.isEmpty()}"
                                                            class="dropdown-menu">
                                                            <th:block th:each="sezione3 : ${sezione2.subsection}">
                                                                <th:block th:if="${sezione3.menu1 != '0'}">
                                                                    <li>
                                                                        <a th:if="${sezione3.menu2 == '0'}"
                                                                           th:href="@{/front(pid=${sezione3.id})}"
                                                                           th:text="${sezione3.titolo}">Sottosezione 3</a>

                                                                        <a th:if="${sezione3.menu2 == '1'}"
                                                                           href="javascript:void(0);"
                                                                           th:text="${sezione3.titolo}">Sottosezione 3</a>

                                                                        <a th:if="${sezione3.menu2 == '2'}"
                                                                           th:href="${sezione3.menu3}"
                                                                           th:text="${sezione3.menu4}">Link esterno</a>
                                                                    </li>
                                                                </th:block>
                                                            </th:block>
                                                        </ul>
                                                    </li>
                                                </th:block>
                                            </th:block>
                                        </ul>
                                    </li>
                                </th:block>
                            </th:block>
                        </th:block>



                        <li class="nav-item"><a href="demo-elearning-blog.html" class="nav-link">Blog</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-auto col-lg-2 text-end d-none d-sm-flex">
                <div class="header-icon">
                    <div><div class="alt-font fw-500 lg-fs-15"><a href="tel:1800222000" class="widget-text text-white-hover"><i class="feather icon-feather-phone-call me-10px lg-me-5px"></i>1 800 222 000</a></div></div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>
</body>
</html>