<!doctype html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manager/layout/template}">
<body>
<div layout:fragment="content">

    <div th:switch="${content.section.sectionType.page2}">

        <th:block th:case="'dettaglioContenuto'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenuto :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoArgomento'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoArgomento :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoServizio'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoServizio :: content}"></th:block>
        </th:block>

        <!-- Dettaglio CONTENTWEBLUOGO -->
        <th:block th:case="'dettaglioContenutoLuogo'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoLuogo :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoNCS'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoNCS :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoEvento'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoEvento :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoDocumenti'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoDocumenti :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoPersona'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoPersona :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoHome'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoHome :: content}"></th:block>
        </th:block>

        <th:block th:case="'dettaglioContenutoUO'">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenutoUO :: content}"></th:block>
        </th:block>

        <th:block th:case="*">
            <th:block th:replace="~{manager/cms/contenuti/dettaglioContenuto :: content}"></th:block>
        </th:block>

    </div>

</div>
</body>
</html>