<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="~{site01/fragments/head :: head}"></th:block>
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#313e3b">
<!-- start header -->
<th:block th:replace="~{site01/fragments/header :: header}"></th:block>
<!-- end header -->

<!-- Main Content -->
<main layout:fragment="content">
    <!-- Content will be injected here -->
</main>

<!-- start footer -->
<th:block th:replace="~{site01/fragments/footer :: footer}"></th:block>
<!-- end footer -->

<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>
<!-- end scroll progress -->

<!-- Scripts -->
<th:block th:replace="~{site01/fragments/scripts :: scripts}"></th:block>
</body>
</html>