<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz">
    <head>
        <!-- Carica i metatag e i CSS comuni -->
        <th:block th:replace="~{site01/fragments/head :: head}"></th:block>
    </head>

    <body class="container-1340px eupopup eupopup-bottom">

        <!-- Body wrapper -->
        <div id="wrapper" class="clearfix">
            <!-- Sezione Header (sostituibile se necessario) -->
            <th:block layout:fragment="header">
                <th:block th:replace="~{site01/fragments/header :: header}"></th:block>
            </th:block>

            <!-- Contenuto Principale: qui verrà iniettato il codice delle singole pagine -->
            <div class="main-content-area" id="main-container">
                <main layout:fragment="content"></main>
            </div>

            <!-- Sezione Footer (sostituibile se necessario) -->
            <th:block layout:fragment="footer">
                <th:block th:replace="~{site01/fragments/footer :: footer}"></th:block>
            </th:block>
            
        </div>

        <!-- Script JS e Scroll to top -->
        <th:block layout:fragment="scripts">
            <th:block th:replace="~{site01/fragments/scripts :: scripts}"></th:block>
        </th:block>

    </body>
</html>
